<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-4">
            <div class="about-wrap">
                <h3 class="section-subtitle">My Story</h3>
                <p>Hello, I am a Front End Developer from Austin, Texas.</p>
                <a class="waves-effect waves-light btn btn-large brand-bg white-text"><i class="mdi-content-archive left"></i> Download Resume</a>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="about-img fadeIn animated">
                <img class="z-depth-1" src="images/fpo-profile.jpg" alt="Joel Jeffrey">
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="about-info">
                <div class="person-info">
                    <h3 class="section-subtitle">Personal Information</h3>
                    <h5><span>Name :</span> Joel jeffrey</h5>
                    <h5><span>Age :</span> 25 Years</h5>
                    <h5><span>Phone :</span> 3603184757</h5>
                    <h5><span>Email :</span> joeljeffrey.dev@gmail.com</h5>
                    <h5><span>Address :</span> Austin, Texas</h5>
                </div>
            </div>
            <div class="about-social">
                <ul>
                    <li>
                        <a class="btn btn-floating waves-effect waves-light white" href="#">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-floating waves-effect waves-light white" href="#">
                            <i class="fa fa-linkedin"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>