<header class="main-header">
    <div class="container">
        <h1 class="logo">Joel Jeffrey</h1>
        <nav>
            <ul>
                <li>
                    <a class="header-link" href="#section-about-me">About Me</a>
                </li>
                <li>
                    <a class="header-link" href="#section-resume">Resume</a>
                </li>
                <li>
                    <a class="header-link" href="#section-portfolio">Portfolio</a>
                </li>
                <li>
                    <a class="header-link" href="#section-contact">Contact</a>
                </li>
            </ul>
        </nav>
    </div>
</header>