<div class="masthead">
    <div class="masthead-overlay">
        <div class="container">
            <div class="masthead-content">
                <h1 class="masthead-title">Hi! I'm <span>Joel Jeffrey</span></h1>
                <h2 class="masthead-subtitle">Professional Frontend Developer</h2>
                <a class="hire-me-btn btn waves-effect waves-light btn-large brand-bg white-text regular-text" href="">
                    Hire Me
                    <i class="mdi-content-send left"></i>
                </a>
            </div>
        </div>
    </div>
</div>