<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-3">
            <h1 class="section-title">Skills</h1>
            <p class="section-copy">Hello, I am a Front End Developer from Austin, Texas.</p>
        </div>
        <div class="col-sm-12 col-md-6 col-md-offset-1">
            
        </div>
    </div>
</div>