<div class="section-overlay">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-3">
                <h1 class="section-title">Skills</h1>
                <p class="section-copy">Hello, I am a Front End Developer from Austin, Texas.</p>
            </div>
            <div class="col-sm-12 col-md-6 col-md-offset-1">
                <div class="skills-wrap">
                    <ul class="skill-list">
                        <li class="skill-bubble">
                            CSS
                        </li>
                        <li class="skill-bubble">
                            HTML
                        </li>
                        <li class="skill-bubble">
                            Backbone
                        </li>
                        <li class="skill-bubble">
                            Marionette
                        </li>
                        <li class="skill-bubble">
                            jQuery
                        </li>
                        <li class="skill-bubble">
                            Git
                        </li>
                        <li class="skill-bubble">
                            Bootstrap
                        </li>
                        <li class="skill-bubble">
                            Shopify
                        </li>
                        <li class="skill-bubble">
                            Wordpress
                        </li>
                        <li class="skill-bubble">
                            Gulp
                        </li>
                        <li class="skill-bubble">
                            SCSS
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>