//
// Buttons
// ---------------------------

button {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
}

.btn {
    display: inline-block;
    cursor: pointer;

    @extend %box-shadow;
    @extend %transition-all;

    &:hover {
        @extend %box-shadow-hover;
    }

    &:focus {}

    &.active,
    &:active {}

    &.disabled,
    &[disabled] {}
    
    &.btn-large {
        height: 4.5rem;
        margin: 0;
        padding: 0 1.5rem;
        line-height: 4.5rem;
        font-size: 1.6em;
        font-weight: $light;
        text-transform: uppercase;
        letter-spacing: 0.05rem;
        text-align: center;
        background-color: $teal;
        border-radius: 0.2rem;
        color: $white;

        i {
            font-size: 2rem;
            margin-right: 1rem;
        }
    }
    
    &.btn-circle {
        height: 5.5rem;
        width: 5.5rem;
        line-height: 5.5rem;
        border-radius: 50%;
        background-color: $white;
        color: $grayDark;
        
        &.small {
            width: 3.7rem;
            height: 3.7rem;
            line-height: 3.7rem;
        }
        
        &.alt {
            background-color: $teal;
            color: $white;
        }
    }

    &.btn-floating {
        color: #FFF;
        position: relative;
        z-index: 1;
        width: 3.7rem;
        height: 3.7rem;
        line-height: 400%;
        padding: 0;
        background-color: #26a69a;
        border-radius: 50%;
        text-align: center;
    }

    &.white {
        background: $white;
    } 
}
