//
// Section Styles
// ---------------------------
.section {
    padding: 8rem 0;
    position: relative;

    @media screen and (min-width: 768px) {
        padding: 12rem 0;
    }

    &.has-overlay {
        padding: 0;
    }
}

.section-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 8rem 0;

    @media screen and (min-width: 768px) {
        padding: 12rem 0;
    }
}

// Section Intro
// -------------------
.section-intro {
    background: url(../images/masthead.jpg) center center no-repeat;
    background-size: cover;
}

// Section About
// -------------------
.section-about {

    p {
        color: #727272;
        font-size: 1.4em;
        line-height: 200%;
        margin-bottom: 3.5rem;
    }
}

.about-wrap {

    @media only screen and (max-width: 767px) {
        margin-bottom: 4rem;
    }
}

.about-img {

    img {
        border: 8px solid $white;
        @extend %box-shadow;

        @media only screen and (max-width: 767px) {
            margin-bottom: 3rem;
        }
    }
}

.about-info {
    h5 {
        border-bottom: 1px solid #eeeeee;
        color: #727272;
        font-size: 1.4em;
        margin-bottom: 1.3rem;
        padding-bottom: 1.3rem;

        span {
            display: inline-block;
            min-width: 7rem;
        }
    }
}

.about-social {
    margin: 2.5rem 0 0;

    li {
        display: inline-block;
        margin-right: 0.8rem;

        i {
            font-size: 1.4em;
            color: $teal;
        }
    }
}

// Section Skills
// -------------------
.section-skills {
    background: url(../images/skills-bg.jpg) center center no-repeat;

    .section-overlay {
        background-color: rgba(255, 255, 255, 0.9);
    }
}

.skill-wrap {

}

.skill-bubble {
    background: $teal;
    color: $white;
    font-size: 1.8em;
    padding: 2rem;
    display: inline-block;
    margin: 1rem;

    @extend %box-shadow;
}

// Section Experience
// -------------------
.section-experience {
    background-color: $teal;
}
